{#{% extends '_helpers/_base.html' %}#}
{##}
{##}
{#{% block content %}#}
{##}
{#<p>Are you sure you want to delete "{{ contact.name }}"?</p>#}
{##}
{#			<form action="{% url 'contacts: delete' contact.pk  %}" method="POST">#}
{##}
{#				{% csrf_token %}#}
{#				<a class="btn btn-warning" href="{% url 'base:index' %}">Cancel</a>#}
{##}
{#				<input class="btn btn-danger" type="submit" name="Confirm">#}
{#			</form>#}
{##}
{##}
{#{% endblock %}#}

{% extends '_helpers/_base.html' %}


{% block content %}



			<form method="POST">

				{% csrf_token %}

                <p>Are you sure you want to delete "{{ object}}"?</p>
				<a class="btn btn-warning" href="{% url 'base:index' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>


{% endblock %}