{% extends '_helpers/_base.html' %}

{% block content %}

<h1>All contacts</h1>

{% for contact in contacts %}
<ul class="contact-list">
    <li class="my-element-style">The name: {{ contact.name }}</li>
    <div class="my-element-style">Phone number: {{ contact.phone }}</div>
    <div class="my-element-style">Date of birthday: {{ contact.date_of_birth }}</div>

    <a href="{% url 'contacts:edit' pk=contact.pk %}">
        <button class="btn btn-primary">
            Edit
        </button>
    </a>

</ul>
{% endfor %}



{% endblock %}


<!-- <a href="{% url 'contacts:edit' pk=contact.pk %}">
        <button>
            Edit
        </button>
    </a> -->>