{% extends '_helpers/_base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
    <h1>Log In</h1>
        <form method="post">
            {% csrf_token %}
                <div class="own-custom-center">
        <div class="col-md-4">
            {{ form.non_field_errors }}
            {{ form.username|as_crispy_field }}
            {{ form.password|as_crispy_field }}
        </div>
    </div>
            <button type="submit" class="btn btn-success btn-block btn-lg">
                Log In
            </button>
        </form>

{% endblock content %}